html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#grid-of-divs {
    display: flex;
    flex-wrap: wrap;
    /*height: auto;*/
    align-content: stretch;
    flex: 1 0 0;
}

.etchPixel {
    /*
    min-width: 25%;
    min-height: 25%;
    */
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
}

.pixelGray {
    background-color: lightgray;
}


